.window
  %table.environment
    - html_entities = HTMLEntities.new
    - notice.env_vars.sort_by {|pair| pair[0]}.each do |key, value|
      %tr
        %th= h(html_entities.decode(key))
        %td.main.code= h(html_entities.decode(pretty_hash(value)))

